.container {
    background-color: crimson;
    height: 450px;
}
.subContainer {
    padding: 20px 643px;
}
.userInput {
    padding: 8px;
    width: 200px;
    border-radius: 20px;
    border: 1px solid black;
}
.loginBtn {
    padding: 7px;
    width: 215px;
    border: none;
    border-radius: 20px;
    font-size: 20px;
    font-family: serif;
}
.math {
    margin: 20px 680px;
}
.mathBtn {
    padding: 15px;
    width: 145px;
    border: none;
    border-radius: 10px;
    font-family: fantasy;
    font-size: 18px;
    color: white;
    background-color: black;
}
h1 {
    font-size: 40px;
    text-align: center;
    color: ghostwhite;
}