body{
    margin: 0px;
    padding: 0px;
}
.container{
    padding: 0px 30px;
    display: flex;
    align-items: center;
    background-color: black;
    justify-content: space-between;
}
.logoWrapper {
    display: flex;
}
.logo{
    width: 80px;
    height: 80px;
}
.container .logoWrapper h1{
    color: white;
    font-family: cursive;
    font-size: 30px;
    margin-left: 5px;
    color: white;
}
.clickBtn{
    padding: 10px 70px;
    color: white;
    border: none;
    background-color: #262626;
    border-radius: 4px;
    font-family: cursive;
    font-size: 18px;
}
.middleContainer {
    background-color: black;
    height: 400px;
    margin-top: -16px;
}
.navBarList {
    background-color: #262626;
}
.navBarItem {
    color: white;
    list-style: none;
    display: inline-block;
    padding: 22px;
    margin-left: 25px;
}
.navBarSearch{
    border-radius: 3px;
    border: none;
    margin-left: 250px;
    padding: 5px 15px;
}
.srchLogo{
    width: 21px;
    height: 21px;
    margin: -7px -27px;
    background-color: #262626;
    border-radius: 3px;
}
.subMidContainer{
    background-color: #2894af;
    margin-top: -20px;
    height: 315px;
}
.subMidContainer h1{
    color: white;
    font-family: cursive;
    margin-left: 22px;
    font-size: 20px;
    width: 280px;
}
.subMidContainer ul li{
    list-style: circle;
    font-family: cursive;
    padding: 5px;
}
.h1UlWrapper{
    position: absolute;
    top: 165px;
    left: 60px;
}
.cardContainer {
    background-color: gainsboro;
}
.cardS {
    display: inline-block;
    width: 380px;
    text-align: left;
    padding: 40px 61px;
}
.cardHead {
    font-family: sans-serif;
    margin-left: 15px;
}
.cardImg {
    width: 330px;
    height: 105px;
    border: 5px solid silver;
    border-radius: 15px;
    margin-left: 10px;
}
.cardP {
    font-family: sans-serif;
    font-size: 15px;
    line-height: 23px;
    margin-left: 15px;
}
.cardBtn {
    padding: 8px 20px;
    border: none;
    background-color: black;
    color: white;
    border-radius: 5px;
    margin-left: 15px;
}



@media screen and (min-width: 320px) and (max-width: 479px){
    body{
        margin: 0px;
        padding: 0px;
    }
    .container{
        background-color: cadetblue;
        width: 100%;
        padding: 0px;
    }
    .logoWrapper {
        display: flex;
        align-items: center;
    }
    .logo{
        width: 50px;
        height: 50px;
    }
    h1 {
        color: black;
        font-family: cursive;
        font-size: 30px;
        margin-left: 5px;
    }
    .clickBtn {
        padding: 5px 5px;
        background: whitesmoke;
        color: black;
        margin-right: 8px;
        border: none;
        border-radius: 4px;
        font-family: cursive;
        font-size: 17px;
    }
    .middleContainer {
        background-color: black;
        height: 400px;
        margin-top: -16px;
    }
    .navBarList {
        background-color: #262626;
    }
    .navBarItem {
        color: white;
        list-style: none;
        display: block;
        padding: 15px;
        margin-left: 0px;
    }
    .navBarSearch {
        border-radius: 3px;
        border: none;
        margin: 10px 12px;
        padding: 5px 15px;
    }
    .srchLogo {
        height: 21px;
        margin: -7px -40px;
        background-color: #262626;
        border-radius: 3px;
    }
    .subMidContainer {
        background-color: #2894af;
        margin-top: 0px;
        height: 400px;
    }
    .h1UlWrapper {
        position: absolute;
        top: 400px;
        left: 2px;
    }
    .subMidContainer h1 {
        color: white;
        font-family: cursive;
        margin-left: 22px;
        font-size: 15px;
        /* width: 280px; */
    }
    .subMidContainer ul li {
        list-style: circle;
        font-family: cursive;
        padding: 3px;
        font-size: 12px;
    }
    .cardContainer {
        background-color: gainsboro;
        margin-top: 304px;
    }
    .cardS {
        display: block;
        width: 100%;
        text-align: left;
        border-bottom: 1px solid black;
        padding: 0px;
    }
    .cardHead {
        font-family: sans-serif;
        font-size: 25px;
        margin-left: 15px;
        padding-top: 25px;
    }
    .cardImg {
        width: 250px;
        height: 87px;
        border: 5px solid silver;
        border-radius: 15px;
        margin-left: 10px;
    }
    .cardP {
        font-family: sans-serif;
        font-size: 12px;
        line-height: 20px;
        margin-left: 15px;
    }
    .cardBtn {
        padding: 6px 15px;
        border: none;
        background-color: black;
        color: white;
        border-radius: 5px;
        margin-left: 15px;
        margin-bottom: 25px;
    }
}